.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container h1 {
    align-self: flex-start;
    margin: 10px 0 0 0;    
}

.main-container hr {    
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #eee;    
}

.main-container form {    
    width: 60%;        
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;    
}

.main-container form input {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.main-container form input::placeholder {
    color: #999;
}

.main-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;    
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.main-container #salvar {
    background: #07bc0c;
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
}

.main-container #remover {
    background: #e74c3c;
    margin: 20px 0 0 20px;
    padding: 0 20px 0 20px;
}